{
    "branches": ["main"],
    "repositoryUrl": "https://github.com/hoanganht1k27/TestSemanticRelease",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/github"
    ]
}
